html, body {
    border: 0;
    margin: 0;
    padding: 0;
    background: white;
    font-size: 100%;
    font: 12px Arial,Helvetica,sans-serif;
    color: #222;
}
body {
    line-height: 1.62;
}
div#container {
    margin: 0 auto;
    min-width: 988px;
    width: 988px;
    position: relative;
}
div#navbar {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    margin; 0 0 40px 0;
    background: 0;
    position: relative;
}
div#navlogo {
    float: left;
    width: 200px;
    height: 50px;
    position: relative;
}
div#navcontent {
    /*background-color: #E9F4E9;*/
    background-color: #3B5998;
    border-bottom: 1px solid #133783;
    float: right;
    width: 788px;
    height: 49px;
    line-height: 25px;
    position: relative;
}
ul {
    list-style: none;
}
